<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <% if (prods.length > 0) { %>
            <h1>My Products</h1>
            <% for (let product of prods) { %>
                <div style="display: inline-flex; width: 100%; word-wrap: break-word;">
                    <p style="width: 100px;">
                        <%= product.title %>
                    </p>
                    <a href="/productDetail/<%= product.id %>" style="padding: 15px 0px; margin-left: 50px;">
                        <button>Details</button>
                    </a>
                </div>
            <% } %>
        <% } else { %>
            <h1>No Products Found</h1>
        <% } %>
    </main>
</body>
</html>